<!DOCTYPE html>
<html>
    <title>PAINT FLOOR PLANS</title>
    <meta charset="UTF-8">
    
	<!-- IMPORT CSS -->
    <link rel="stylesheet" type="text/css" href="css/jquery-ui.css">

    <body>
		<div id="canvasContainer">
			<canvas id="myCanvas" height="850" width="1000"></canvas>
		</div>
	</body>
	
	<!-- IMPORT JS -->
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
	<script type="text/javascript" src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
	<script type="text/javascript" src="static/FloorPlan/paintFloor.js"></script>
	
</html>