<!DOCTYPE html>
<html lang="en">

	<head>
		{% block head %}
		<title>{% block title %}ZotBins{% endblock %}</title>
		
		<!-- meta -->
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<meta name="description" content="">
		<meta name="author" content="">
		
		<!-- CSS -->
		<!-- Bootstrap core CSS-->
		<link href="static/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
		<!-- Custom fonts for this template-->
		<link href="static/vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
		<!-- Page level plugin CSS-->
		<link href="static/vendor/datatables/dataTables.bootstrap4.css" rel="stylesheet">
		<!-- Custom styles for this template-->
		<link href="static/css/sb-admin.css" rel="stylesheet">
		
		<!-- scripts -->
		<script src="http://d3js.org/d3.v3.min.js"></script>
		<script src="static/js/liquidFillGauge.js"></script>
		<script src="static/js/Donut3D.js"></script>
		<!-- Logout Modal-->
		<!-- Bootstrap core JavaScript-->
		<script src="static/vendor/jquery/jquery.min.js"></script>
		<script src="static/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
		<!-- Core plugin JavaScript-->
		<script src="static/vendor/jquery-easing/jquery.easing.min.js"></script>
		<!-- Page level plugin JavaScript-->
		<!-- <script src="static/vendor/chart.js/Chart.min.js"></script> -->
		<script src="static/vendor/datatables/jquery.dataTables.js"></script>
		<script src="static/vendor/datatables/dataTables.bootstrap4.js"></script>
		<!-- Custom scripts for all pages-->
		<!-- <script src="static/js/sb-admin.min.js"></script> -->
		<!-- Custom scripts for this page-->
		<script src="static/js/sb-admin-datatables.min.js"></script>
		<!-- <script src="static/js/sb-admin-charts.min.js"></script> -->
		
		<script>
		
		$(document).ready (function() {
			if(sessionStorage.getItem("email") === null || sessionStorage.getItem("tipperhost")){
				<!-- window.open("http://tippersweb.ics.uci.edu/tportal/index.html", "_self"); -->
			}
		});
			
		</script>
		
		
		<!-- chosen autocomplete dropdown -->
		<link rel="stylesheet" type="text/css" href="static/vendor/chosen_dropdown/chosen.css">
		<script src="static/vendor/chosen_dropdown/chosen.jquery.js"></script>
		
		<!-- fontawesome -->
		<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" 
			integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous">
		
		<style>
			div.container-fluid{
				overflow-y: visible;
			}
			footer{
				padding: 20px;
				font-size: 150%;
				text-align: center;
				color: white;
			}
			{% block style %} {% endblock %}
		</style>
		
		<script>
			{% block script %} {% endblock %}
		</script>
		
		{% block includes %} {% endblock %}

		{% endblock %}
	</head>

	<body class="fixed-nav sticky-footer bg-dark" id="page-top">
	{% block body %}
		<!-- Navigation-->
		<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top" id="mainNav">
			<a class="navbar-brand" href="index">ZotBins</a>
			<button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
			<ul class="navbar-nav ml-auto ml-md-0">
				<li class="nav-item dropdown no-arrow mx-1">
					<a class="nav-link" href="index">
						<i class="fa fa-home"></i>
						<span class="nav-link-text">Home</span>
					</a>
				</li>
				<li class="nav-item dropdown no-arrow mx-1">
					<a class="nav-link" href="FindClosestBin">
						<i class="fas fa-search"></i>
						<span class="nav-link-text">Waste Guide</span>
					</a>
				</li>
				<li class="nav-item dropdown no-arrow mx-1">
					<a class="nav-link" href="Bins">
						<i class="fa fa-trash"></i>
						<span class="nav-link-text">Bins</span>
					</a>
				</li>
				<li class="nav-item dropdown no-arrow">
					<a class="nav-link" href="BuildingStats">
						<i class="fa fa-building"></i>
						<span class="nav-link-text">Building Stats</span>
					</a>
				</li>
				<li class="nav-item dropdown no-arrow">
					<a class="nav-link" href="Leaderboard">
						<i class="fa fa-building"></i>
						<span class="nav-link-text">Leaderboards</span>
					</a>
				</li>
			</ul>	
			<ul class="navbar-nav ml-auto my-2 my-lg-0">
				<li class="nav-item text-white" id="navbar-name">{% if "email" in session %}
													{{session["email"]}}
													{% endif %}</li>
			</ul>
		</nav>
		<div class="content-wrapper">
			<div class="container-fluid">
				<!-- Scroll to Top Button-->
				<a class="scroll-to-top rounded" href="#page-top">
					<i class="fa fa-angle-up"></i>
				</a>
				{% block content %} {% endblock %}
			</div>
		</div>
		<footer class="page-footer font-small">
			<p>TIPPERS - A UCI Project on Smart Spaces</p>
		</footer>
	{% endblock %}
	</body>

</html>